# Bike Stats
### Terrell Douglas 12/16/19

In [1]:
import pandas as pd
import numpy as np

In [29]:
df_station = pd.read_csv('./cycle-share-dataset/station.csv')
df_weather = pd.read_csv('./cycle-share-dataset/weather.csv')
df_trip = pd.read_csv('./cycle-share-dataset/trip.csv', skiprows = [50793])

#### What is the average trip duration for a borrowed bicycle?

In [71]:
df_trip[['tripduration']].mean()

tripduration    1178.295675
dtype: float64

#### What’s the most common age of a bicycle-sharer?

In [70]:
year = df_trip[['birthyear']].mode()
2019 - year

   birthyear
0       32.0

#### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [122]:
df_weather['Precipitation_In'].median()

0.0

#### What’s the average number of bikes at a given bike station?

In [69]:
df_station[['current_dockcount']].mode()

   current_dockcount
0                 18

#### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [77]:
temp_old = df_station.sort_values('modification_date',  ascending= False)['current_dockcount'].tail(42)
temp_new = df_station.sort_values('modification_date',  ascending= False)['current_dockcount'].head(15)
new = temp_new.mean()
old = temp_old.mean()
new - old

-1.6380952380952376

## Come up with 3 more questions that can be answered with this data set.

#### Did more men or women use the bikeshare program?

In [121]:
df_trip['gender'].mode()

0    Male
dtype: object

#### Top 5 furthest trips taken

In [126]:
df_trip.sort_values(by='tripduration', ascending = False).head(5)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
163148,124491,8/7/2015 17:53,8/8/2015 1:53,SEA00420,28794.398,Eastlake Ave E & E Allison St,2nd Ave & Pine St,EL-05,CBD-13,Short-Term Pass Holder,NaN,NaN
231806,197134,4/8/2016 14:25,4/8/2016 22:24,SEA00085,28779.864,3rd Ave & Broad St,15th Ave E & E Thomas St,BT-01,CH-05,Short-Term Pass Holder,NaN,NaN
154789,115593,7/24/2015 17:22,7/25/2015 1:21,SEA00098,28727.481,E Harrison St & Broadway Ave E,E Harrison St & Broadway Ave E,CH-02,CH-02,Short-Term Pass Holder,NaN,NaN
63052,15191,11/19/2014 9:23,11/19/2014 17:21,SEA00401,28690.725,Key Arena / 1st Ave N & Harrison St,Key Arena / 1st Ave N & Harrison St,SLU-19,SLU-19,Short-Term Pass Holder,NaN,NaN
12260,15191,11/19/2014 9:23,11/19/2014 17:21,SEA00401,28690.725,Key Arena / 1st Ave N & Harrison St,Key Arena / 1st Ave N & Harrison St,SLU-19,SLU-19,Short-Term Pass Holder,NaN,NaN

#### How many days was the wind speed between 20 and 30 miles an hour

In [136]:
number = df_weather[df_weather['Max_Wind_Speed_MPH'].between(20 , 30)]
len(number)

32