# Video Game Sales
#### Terrell Douglas 12/16/19

In [9]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('./vgsales.csv')

#### Which company is the most common video game publisher?

In [27]:
df[['Publisher']].mode()

         Publisher
0  Electronic Arts

#### Whatâ€™s the most common platform?

In [29]:
df[['Platform']].mode()

  Platform
0       DS

#### What about the most common genre?

In [30]:
df[['Genre']].mode()

    Genre
0  Action

#### What are the top 20 highest grossing games?

In [55]:
df.sort_values(by='Global_Sales', ascending = False).head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

#### For North American video game sales, whatâ€™s the median?

In [61]:
df['NA_Sales'].median()

0.08

#### Provide a secondary output showing â€˜aboutâ€™ ten games surrounding the median sales output

In [87]:
df[df['NA_Sales'].between(.8 , .8)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
409,410,Assassin's Creed Syndicate,PS4,2015.0,Action,Ubisoft,0.8,1.92,0.06,0.50,3.28
938,940,Pinball,NES,1984.0,Action,Nintendo,0.8,0.19,0.83,0.03,1.85
1039,1041,Star Ocean: Till The End of Time,PS2,2003.0,Role-Playing,Ubisoft,0.8,0.21,0.55,0.15,1.72
1071,1073,Call of Duty Black Ops: Declassified,PSV,2012.0,Action,Activision,0.8,0.52,0.07,0.30,1.69
1113,1115,Kirby & the Amazing Mirror,GBA,2004.0,Platform,Nintendo,0.8,0.05,0.76,0.03,1.64
1118,1120,Tiger Woods PGA Tour 2003,PS2,2002.0,Sports,Electronic Arts,0.8,0.63,0.00,0.21,1.64
1134,1136,Tony Hawk's American Wasteland (Old all region...,PS2,2005.0,Sports,Activision,0.8,0.63,0.01,0.19,1.62
1139,1141,Pokemon Battle Revolution,Wii,2006.0,Role-Playing,Nintendo,0.8,0.38,0.30,0.13,1.61
1203,1205,Star Wars: The Force Unleashed II,PS3,2010.0,Action,LucasArts,0.8,0.53,0.00,0.22,1.55
1345,1347,Frogger 2: Swampy's Revenge,PS,1999.0,Action,Hasbro Interactive,0.8,0.54,0.00,0.09,1.43
1355,1357,UFC Undisputed 2010,PS3,2010.0,Fighting,THQ,0.8,0.41,0.02,0.19,1.42
1409,1411,Gardening Mama,DS,2009.0,Puzzle,505 Games,0.8,0.43,0.01,0.13,1.38
2174,2176,World Championship Poker,PS2,2004.0,Misc,Play It,0.8,0.03,0.00,0.13,0.95

#### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [83]:
gsmean = df[['NA_Sales']].mean()
other = df.loc[:, 'NA_Sales'].std()
other-gsmean

NA_Sales    0.552016
dtype: float64

#### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [96]:
nintendo_sales = df[df['Publisher'].between('Nintendo', 'Nintendo')].mean()
other_sales = df[df['Publisher'].str.contains('Nintendo') == False].mean()
nintendo_sales.Global_Sales-other_sales.Global_Sales

2.09182017263173

### Come up with 3 more questions that can be answered with this data set.

#### What is the top Publisher?

In [101]:
df[['Publisher']].mode().tail()

         Publisher
0  Electronic Arts

#### How many games came out in 2010?

In [119]:
number = df[df['Year'].between(2010 , 2010)]
len(number)

1259

#### What is the least played genre of video game?

In [139]:
df.sort_values('Genre', ascending = False).head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
11820,11822,Kessen III,PS2,2004.0,Strategy,Tecmo Koei,0.04,0.03,0.0,0.01,0.07